.project-items{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
.projects h1{
  color: rgb(245, 247, 247);
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    margin-top: 7%;
}
.card-items{
  width: 325px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow:var(--box-shadow);
  margin: 20px;
  border: 1px solid yellow;
  background-color: #2d2d2d;
  border-radius: 10px;
}

.card-img{
  display: flex;
  width: 250px;
  height: 200px;
  align-content: center;
  justify-content: center;
  border: 2px solid yellow;
  border-radius: 10px;
}
.img{
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 30px;
}
.card-info{
  padding: 10px;
  text-align: center;
  background: #2d2d2d;
}
.card-info h5{
  font-size: 28px;
  margin-bottom: 8px;
  margin-top: -20px;
}
.card-info p{
  font-size: 20px;
  line-height: 1.3;
}
.card-btn{
  padding: 30px;
}

/* button */
.btns {
  font-size: 1rem;
  font-weight: 700;
  margin: 25px;
  padding: 9px 10px;
  border: none;
  outline: none;
  color: #000000;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}
.btns::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0ef;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
.btns::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* hover */
.btns:hover::before {
  opacity: 1;
}

.btns:active:after {
  background: transparent;
}

.btns:active {
  color: #000;
  font-weight: bold;
}



@media screen and (max-width: 590px)
  {
    .projects h1 {
      color: rgb(245, 247, 247);
      font-weight: 600;
      font-size: 18px;
      text-align: center;
      margin-top: 20%;
      margin-bottom: -24%;
  }
}